{% extends '/medico/basemedico.html' %}


{% block title %} Página de inicio {% endblock %}

{% block body %}

<div class="container">
    <h1>Página de inicio</h1>
	<h2>USUARIO Médico</h2>
	<h3>Bienvenido {{name}}</h3>
	<hr>
	<p>Seleccione una opción</p>
</div>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
       <div class="alert alert-success alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">X</span>
        </button>
             {{message}}
    </div>
    {% endfor  %}
    {% endif %}
    {% endwith %}
<div class="container">
	<center>
	<table>
		<tbody>
			<tr>
				<td><img src="{{url_for('static', filename='treatment.png')}}" alt="treatment" style="width:128px;height:128px;"></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><img src="{{url_for('static', filename='clipboard.png')}}" alt="clipboard" style="width:128px;height:128px;"></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><img src="{{url_for('static', filename='card.png')}}" alt="card" style="width:128px;height:128px;"></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td><a href="{{url_for('adminpaciente')}}"><button type="submit" value="Administrar pacientes" class="btn btn-success">Administrar pacientes</button></a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><a href="{{url_for('adminota')}}"><button type="submit" value="Administrar notas médicas" class="btn btn-success">Administrar notas médicas</button></a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><a href="{{url_for('readtag')}}"><button type="submit" value="Leer etiqueta" class="btn btn-success">Leer etiqueta</button></a></td>
			</tr>
		</tbody>
	</table> 
	</center> 	
</div>
{% endblock %}
