{% extends '/medico/basemedico.html' %}
{% block title %} Lectura de etiqueta {% endblock %}
{% block body %}
<div class="container">
    <h1>Selección de paciente</h1>
    <hr>
	<p>Seleccione el archivo de llave privada del(a) paciente propietario(a) de la etiqueta a leer.</p>
</div>
<div class="container">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
       <div class="alert alert-success alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">X</span>
        </button>
             {{message}}
    </div>
    {% endfor  %}
    {% endif %}
    {% endwith %}
<div class="container">
  <form action = "" method = "POST" enctype = "multipart/form-data">
    <input id="key-upload" type="file" class="btn btn-success" name = "file" />
    <br><br>
    <input id="selectkey-submit" class="btn btn-success" value="Subir llave" type = "submit"/>
  </form>
</div>

{% endblock %}
