{% extends '/medico/basemedico.html' %}
{% block title %} Lectura de etiqueta {% endblock %}
{% block body %}
<div class="container">
    <h1>Visualización de información</h1>
    <hr>
	<p>Esta es la información contenida en su etiqueta</p>
</div>
<div class="container">
	<center>
     <div class="table-responsive-md">
    
    <table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col" class="align-middle" style="text-align: center;">Criterio diagnóstico</th>
            <th scope="col" class="align-middle" style="text-align: center;">Sugerencias</th>
            <th scope="col" class="align-middle" style="text-align: center;">Motivo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="criterio" class="align-middle" style="text-align: center;">{{kanyewest}}</td>
            <td id="sugerencias" class="align-middle" style="text-align: center;">{{bromomento}}</td>
            <td id="motivo" class="align-middle" style="text-align: center;">{{urico}}</td>
        </tr><br>
    </tbody>
    </table>
    </div>
    <br>	
	<a href="{{url_for('indexmedico')}}"><button class="btn btn-success navbar-btn">Regresar</button> </a>
    </center>
</div>

{% endblock %}
